---
title: Danger - Online Reference Editor
subtitle: About this Site
layout: layout_js
---

script src="/javascripts/monaco/min/vs/loader.js"
== stylesheet_link_tag "editor"

section.guide
  article  
    div id="container" style="height:600px;border:1px solid grey"


javascript:
	require.config({ paths: { 'vs': '/javascripts/monaco/min/vs' }});

  // Throwing in Emissions ATM

	require(['vs/editor/editor.main'], function() {
		var editor = monaco.editor.create(document.getElementById('container'), {
			value: [
        'import { danger, fail, markdown, schedule, warn } from "danger"',
        '',
        'import * as path from "path"',
        '',
        '// Get some commonly used elements out of the DSL',
        'const pr = danger.github.pr',
        '',
        'const modified = danger.git.modified_files',
        'const bodyAndTitle = (pr.body + pr.title).toLowerCase()',
        '',
        '// Custom modifiers for people submitting PRs to be able to say "skip this"',
        'const trivialPR = bodyAndTitle.includes("trivial")',
        '',
        'const acceptedNoTests = bodyAndTitle.includes("skip new tests")',
        'const typescriptOnly = (file: string) => file.includes(".ts")',
        'const filesOnly = (file: string) => file.endsWith("/")',
        ' ',
        '// Custom subsets of known files',
        'const modifiedAppFiles = modified.filter(p => p.includes("lib/")).filter(p => filesOnly(p) && typescriptOnly(p))',
        '',
        '// Modified or Created can be treated the same a lot of the time',
        'const touchedFiles = modified.concat(danger.git.created_files).filter(p => filesOnly(p))',
        '',
        'const touchedAppOnlyFiles = touchedFiles.filter(',
        '  p => p.includes("src/lib/") && !p.includes("__tests__") && typescriptOnly(p)',
        ')',
        '',
        '// Rules',
        '',
        '// When there are app-changes and it us not a PR marked as trivial, expect',
        '// there to be CHANGELOG changes.',
        '',
        'const changelogChanges = modified.find(f => f === "CHANGELOG.md")',
        'if (modifiedAppFiles.length > 0 && !trivialPR && !changelogChanges) {',
        '  fail("No CHANGELOG added.")',
        '}',
        '',
        '// No PR is too small to warrant a paragraph or two of summary',
        'if (pr.body.length === 0) {',
        '  fail("Please add a description to your PR.")',
        '}',
        '// Always ensure we assign someone to a PR, if its a',
        'if (pr.assignee === null) {',
        '  const method = pr.title.includes("WIP") ? warn : fail',
        '  method("Please assign someone to merge this PR, and optionally include people who should review.")',
        '}',
        '// Check that every file touched has a corresponding test file',
        'const correspondingTestsForAppFiles = touchedAppOnlyFiles.map(f => {',
        '  const newPath = path.dirname(f)',
        '  const name = path.basename(f).replace(".ts", "-tests.ts")',
        '  return `${newPath}/__tests__/${name}`',
        '})',
        '',
        '// New app files should get new test files',
        '// Allow warning instead of failing if you say "Skip New Tests" inside the body, make it explicit.',
        '',
        'const testFilesThatShouldExist = correspondingTestsForAppFiles',
        '  .filter(f => !f.includes("index-tests.tsx")) // skip indexes',
        '  .filter(f => !f.includes("__stories__")) // skip stories',
        '  .filter(f => !f.includes("app_registry")) // skip registry, kinda untestable',
        '  .filter(f => !f.includes("routes")) // skip routes, kinda untestable',
        '  .filter(f => !f.includes("native_modules")) // skip native_modules',
        '',
        'if (testFilesThatShouldExist.length > 0) {',
        '  const callout = acceptedNoTests ? warn : fail',
        '  const output = `Missing Test Files:` + testFilesThatShouldExist.map(f => `- \\`${f}\\``).join("\\n")',
        '',
        '  callout(output)',
        '}',
        '',
        '// Ensure that a label has been set',
        'if (danger.github.issue.labels.length === 0) {',
        '  warn("This PR does not have any labels.")',
        '}',
        '',
      ].join('\n'),
		language: 'typescript', 
		});
    
    monaco.languages.typescript.typescriptDefaults.addExtraLib('declare module "path"', "path.d.ts")

    xhr('/js/docs_generate/danger.d.ts').then(function(r) {
      var danger = r.responseText.replace(/import \* as/, "// import * as");
      monaco.languages.typescript.typescriptDefaults.addExtraLib(danger, "danger.d.ts")
    })

    monaco.languages.typescript.javascriptDefaults.setCompilerOptions({
      target: monaco.languages.typescript.ScriptTarget.ES6,
      allowNonTsExtensions: true
    })
	});

	function xhr(url) {
		var req = null;
		return new monaco.Promise(function(c,e,p) {
			req = new XMLHttpRequest();
			req.onreadystatechange = function () {
				if (req._canceled) { return; }

				if (req.readyState === 4) {
					if ((req.status >= 200 && req.status < 300) || req.status === 1223) {
						c(req);
					} else {
						e(req);
					}
					req.onreadystatechange = function () { };
				} else {
					p(req);
				}
			};

			req.open("GET", url, true );
			req.responseType = "";

			req.send(null);
		}, function () {
			req._canceled = true;
			req.abort();
		});
	}

